<div class="notifications section margin">
    <h1>Notifications</h1>
</div>
    <% if @received_requests || @sent_requests || @friends_of_friends %>
    <div class="requestNotifications section">
        <h2>Friend Requests</h2>
        <% @received_requests.each do |request| %>
            <div class="friendThumbnailNotes">
                <%if request.profile.photo.attached? %>
                    <div class="thumbnailNotes">
                    <%= link_to( image_tag(request.profile.photo, width: 75, height: 100),
                                    user_path(request)) %>
                    </div>
                <% else %>
                    <div class="thumbnailNotes">
                        <%= link_to( image_tag("nobody.jpg", width: 75, height: 100),
                                    user_path(request)) %>
                    </div>
                <% end %>
                <p><%= request.profile.name %></p>
                <%= button_to "Accept Friend Request", user_friendships_path(request),
                    params: {'friendship[friend_id]' => request.id,
                             'friendship[user_id]' => current_user.id }%>
            </div>
        <% end %>
        <% @sent_requests.each do |request| %>
            <div class="friendThumbnailNotes">
                <%if request.profile.photo.attached? %>
                    <div class="thumbnailNotes">
                    <%= link_to( image_tag(request.profile.photo, width: 75, height: 100),
                                    user_path(request)) %>
                    </div>
                <% else %>
                    <div class="thumbnailNotes">
                        <%= link_to( image_tag("nobody.jpg", width: 75, height: 100),
                                    user_path(request)) %>
                    </div>
                <% end %>
                <p><%= request.profile.name %></p>
                <p>Waiting for a response!</p>
            </div>
        <% end %>
    </div>
    <div class="peopleYouMayKnow section">
        <h2>People You May Know</h2>
        <% @friends_of_friends.each do |friend| %>
            <div class="friendThumbnailNotes">
                <%if friend.profile.photo.attached? %>
                    <div class="thumbnailNotes">
                    <%= link_to( image_tag(friend.profile.photo, width: 75, height: 100),
                                    user_path(friend)) %>
                    </div>
                <% else %>
                    <div class="thumbnailNotes">
                        <%= link_to( image_tag("nobody.jpg", width: 75, height: 100),
                                    user_path(friend)) %>
                    </div>
                <% end %>
                <p><%= friend.profile.name %></p>
                <%= button_to "Request Friendship", user_received_requests_path(friend), 
                    params: {'received_request[requestor_id]' => current_user.id} %>
            </div>
        <% end %>
    </div>
    <% else %>
        <div class="section">
            <h2>You have no Notifications!</h2>
        </div>
    <% end %>