<div class="post section">
    <% if post.user_id == current_user.id %><br>
    <div class="postManipBtns right">
        <%= link_to 'Edit', edit_user_post_path(@user, post)%> | 
        <%= link_to 'Destroy', user_post_path(@user, post), 
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
    <% if post.author.profile.photo.attached?%>
        <div class="postAvatar">
            <%= link_to( image_tag(post.author.profile.photo, :class => "dot"),
                                    user_path(post.author)) %>
        </div>
    <% end %>
    <div class="postAuthor"><%= post.getpostauthor %></div>
    <div class="postTime">Posted <%= post.getposttime %></div>
    <div class="postBody"><%= post.body %></div>
    <div class="postPicture">
        <%= image_tag(post.photo, width: 200) if post.photo.attached? %>
    </div>
            
    <div class="commentsSection">
    <% post.comments.each do |comment| %>
        <div class='comment'>
            <%= comment.getCommentAuthor %>:
            <%= comment.body %><br><br>
            <div class="commentManipBtns left">
                <% if comment.user_id == current_user.id %>
                    <%= link_to 'Edit', edit_post_comment_path(post, comment)%> | 
                    <%= link_to 'Delete', post_comment_path(post, comment),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
                <% end %>
            </div><br>
        </div>
    <% end %>
    <%= render partial: 'comments/newcomment', locals: {post: post, user: @user} %>
    </div>

    <div class="likesSection">
        <p class="likesCount"><%= post.likes.count %> 
            <%= (post.likes.count) == 1 ? 'Like' : 'Likes' %></p>
        <% if current_user.userLikesThis(post) %>
            <% pre_like = post.likes.find { |like| like.user_id == current_user.id } %>
            <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
        <% else %>
            <%= button_to 'Like', post_likes_path(post), method: :post %>
        <% end %>
    </div>

</div>